<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>

<%= image_tag(@student.avatar.url, alt: 'Image') if @student.avatar? %>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
