<p id="notice"><%= notice %></p>

<h1>Student Marks</h1>

<table>
  <thead>
    <tr>
      <th>M1</th>
      <th>M2</th>
      <th>M3</th>
      <th>Total</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_marks.each do |student_mark| %>
      <tr>
        <td><%= student_mark.m1 %></td>
        <td><%= student_mark.m2 %></td>
        <td><%= student_mark.m3 %></td>
        <td><%= student_mark.total %></td>
        <td><%= student_mark.student.name %></td>
        <td><%= link_to 'Show', student_mark %></td>
        <td><%= link_to 'Edit', edit_student_mark_path(student_mark) %></td>
        <td><%= link_to 'Destroy', student_mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Mark', new_student_mark_path %>
