<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your marks.
    </p>
    <p>
      Name: <%= @student_mark.student.name%>
    </p><br/>
    <p>
      M1: <%= @student_mark.m1%>
    </p><br/>
    <p>
      M2: <%= @student_mark.m2%>
    </p><br/>
    <p>
      M3: <%= @student_mark.m3%>
    </p><br/>
    <p>
      M4: <%= @student_mark.total%>
    </p><br/>
    <p>Thanks!</p>
  </body>
</html>