<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Focus Admin: Creative Admin Dashboard</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="/assets/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="/assets/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/assets/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/lib/themify-icons.css" rel="stylesheet">
    <link href="/assets/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/assets/lib/weather-icons.css" rel="stylesheet" />
    <link href="/assets/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/assets/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/lib/helper.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/sidebar'%>
    <%= render 'layouts/header'%>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                
                <section id="main-content">
                  <%= yield %>
                </section>
            </div>
        </div>
    </div>
  </body>
</html>
